<div class="adress " data-aos="fade-left">
    <p class="text_adress justify-content-center">Адрес</p>
    <p class="text_almaz justify-content-center">Банкетный зал «Алмаз-холл», г. Пенза, ул. Бородина, 1а (по улице Тернопольской)</p>
    <div id="map" data-aos="zoom-in">
    </div>
    <div class="border_map " data-aos="zoom-in">
      <picture>
        <source srcset="/static/svg/border_map_xs.svg" media="(max-width: 768px)">
        <img src="/static/svg/map.svg" class="img-fluid" alt="карта">
    </picture>

    </div>
  </div>