<div class="row dress_codes justify-content-center">
    <div class=" text_dresses col-4 order-lg-last justify-content-center" data-aos="fade-right" >
      <p class="text_dress" > Дресс-код </p>
        <p class="description "> Просим гостей поддержать общую цветовую гамму и подобрать наряды в пастельных тонах </p>
    </div>
    <div class="row ellipses col-lg-8 col-md-12 justify-content-center" data-aos="zoom-in">
      <div class="ellipse col-lg-4 " >
        <img src="/static/svg/orange.svg"  class="img-fluid" alt="оранжевый круг">
      </div>
      <div class="ellipse col-lg-4 ">
        <img src="/static/svg/blue.svg" class="img-fluid" alt="голубой круг">
      </div>
      <div class="ellipse col-lg-4 ">
        <img src="/static/svg/purple.svg" class="img-fluid" alt="фиолетовый круг">
      </div>
    </div>    
</div>
