<div class ="grad">
  <picture>
    <img src="/static/svg/gradient.svg" class="grad-xl" alt="Полоска">
  </picture>
</div>

    <!--Блок "Текст приглашения на свадьбу"-->
<div class="row justify-content-center">
    <div class="text col-lg-6">
        <div class ="wedding" data-aos="fade-right">Приглашение на свадьбу</div> 
            <div class="alex" data-aos="fade-left">Александр</div>
            <div class="kate" data-aos="fade-right">& Екатерина</div>
            <div class="date_time" data-aos="fade-left">29 июля 2023</div>
    </div>
    <div class="rings col-lg-6 gy-6" data-aos="fade-left">
        <img src="/static/svg/rings.svg" class="img-fluid" alt="Кольца">
    </div>
</div>