<div class="times" data-aos="fade-right">Расписание</div>
<div class="row justify-content-center gy-md-3">
    <div class="square col-md-6 col-lg-4" data-aos="zoom-in">
        <img src="/static/svg/welcome.svg"  alt="welcome">
    </div>
    <div class="square col-md-6 col-lg-4" data-aos="zoom-in">
        <img src="/static/svg/registration.svg"  alt="регистрация">
    </div>
    <div class="square col-md-6 col-lg-4" data-aos="zoom-in">
        <img src="/static/svg/banket.svg"  alt="банкет">
    </div>
</div> 